Source: php-mongo
Section: php
Priority: optional
Maintainer: Rajmund Zawislak <rajcelem@urantia.pl>
Homepage: http://pecl.php.net/package/mongo
Build-Depends: debhelper (>= 7), php5-dev  
Standards-Version: 3.9.3

Package: php5-mongo
Architecture: any
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}
Description: mongo module for PHP 5
 This package provides an interface for communicating with the
 MongoDB database in PHP.
 .
 PHP5 is a widely-used general-purpose scripting language that is
 especially suited for Web development and can be embedded into HTML.
 The goal of the language is to allow web developers to write
 dynamically generated pages quickly.


